&lt;div class=&quot;block block-thumb block-thumb-right container-fluid&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot; class=&quot;b-inner row&quot;&gt;
		&lt;div class=&quot;b-thumb col-md-6 col-md-offset-1&quot;&gt;
			{{&gt; atoms-landscape-4x3 }}
		&lt;/div&gt;
		&lt;div class=&quot;b-text col-md-4&quot;&gt;
			&lt;h2 class=&quot;b-title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
			&lt;p&gt;{{ excerpt.medium }}&lt;/p&gt;
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;