// ------------------------------------------------------------
// Patternlab atoms
// ------------------------------------------------------------

/* ::Global */
/* ------------------------------------------------------------ */

/* Global > fontes */
// ----> Voir dans libs/typography


/* Global > animations */

.animate-fade {
   @include transition(opacity, 0.3s, ease-out);
   &:hover {
      opacity: 0;
   }
}
.animate-move {
   > .demo-shape {
      @include transition(all, 0.8s, ease-in-out);
   }
}

/* Global > visibility */

/* Completely remove from the flow and screen readers. */
.is-hidden {
    display: none !important;
    visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Display Classes */
.hide-small {
    @media all and (max-width: $screen-md) {
        display: none;
    }
}

.hide-med {
    @media all and (min-width: $screen-md) and (max-width: $screen-lg) {
        display: none;
    }
}

.hide-large {
    @media all and (min-width: $screen-lg) {
        display: none;
    }
}


/* ::Images */
/* ------------------------------------------------------------ */

img, video, object {
  max-width: 100%;
  height: auto;
}