// ------------------------------------------------------------
// Patternlab molecules
// ------------------------------------------------------------

/* ::Text */
/* ------------------------------------------------------------ */


/* Text > heading group */

.hgroup{
   h2{
      @include margin-bottom($spacing-md-responsive);
   }
}


/* Text > intro text */

.intro{
   @include font-size($h3-font-sizes);
   @include margin-bottom($spacing-xxl-responsive);
   @extend .font-var;
}

/* ::Blocks */
/* ------------------------------------------------------------ */

.block{
   h2{
      @include margin-top($spacing-md-responsive);
      @include margin-bottom($spacing-md-responsive);
   }
}