
   <!--DO NOT REMOVE-->
   {% pattern-lab-foot %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <script src="../../js/libs.js"></script>
   <script src="../../js/script.js"></script>
   </body>
</html>