&lt;nav id=&quot;nav&quot; class=&quot;nav&quot;&gt;
	&lt;ul class=&quot;nav-list&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Projects&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Texts&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Publications &amp; press&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Exhibitions&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Contact &amp; infos&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
