<div class="block block-thumb block-thumb-right container-fluid">
    <a href="{{ url }}" class="b-inner row">
		<div class="b-thumb col-md-6 col-md-offset-1">
			{{> atoms-landscape-4x3 }}
		</div>
		<div class="b-text col-md-4">
			<h2 class="b-title">{{ headline.short }}</h2>
			<p>{{ excerpt.medium }}</p>
		</div>
	</a>
</div>