<div class="block block-thumb block-thumb-left container-fluid">
    <a href="{{ url }}" class="b-inner row">
      <div class="b-text col-md-4 col-md-offset-1">
         <h2 class="b-title">{{ headline.short }}</h2>
         <p>{{ excerpt.medium }}</p>
      </div>
      <div class="b-thumb col-md-6">
         {{> atoms-landscape-4x3 }}
      </div>
   </a>
</div>