<div class="block block-thumb-headline">
	<a href="{{ url }}" class="b-inner">
		<div class="b-thumb">
			{{> atoms-landscape-4x3 }}
		</div>
		<div class="b-text">
			<h2 class="b-title">{{ title }}</h2>
		</div>
	</a>
</div>