<div class="block block-headline-text">
	<a href="{{ url }}">
		<h2 class="headline">A Circumscribed Sphere: Ilit Azoulayʼs Project at KW Institute for Contemporary Art, Berlin, 2014</h2>
   </a>
   <ul>
      <li>by <a href="#">Aya Lurie</a>, 2014</li>
      <li>Published in: <a href="#">Finally Without End</a>, 2014</li>
      <li>Read <a href="#">Hebrew Translation</a></li>
   </ul>
	
</div>