<div class="info-panel col-md-6 col-xs-10">
  <div class="content-container">
    <a href="#" class="close">Close</a>
    <h2>Implicit Manifestation</h2>
    <p>In early 2013, The Shpilman foundation (Tel Aviv), in collaboration with KW Institute for Contemporary Art and the Schir Foundation (Berlin) announced the award of their first joint photography residency. Ilit Azoulay (*1972 in Israel) moved into her studio at KW in June, 2013, and used her five-month residency to develop her interest in the archeology of cities.</p>
    <p>
    During her travels throughout Germany, she collected and photographed objects and architectural fragments in Berlin, Weimar, Kulmain, Regensburg, Dessau, Bamberg, Brandenburg, Xanten, Potsdam and Halle, as well as in the KW building itself. </p>
    <p>In some cases, Azoulay singled out sites undergoing preservation, while in others she examined buildings that were reconstructed precisely, brick for brick, in accordance with Germany’s restoration laws. Fascinated by the special character of German preservation laws, its archives, public and governmental institutions, its mechanisms of memory and history, the artist undertook the collection of all possible information that verifies the origin of each and every one of these objects. This meticulous gathering of information became central to the project and includes correspondence with monasteries, squat residents, taxidermy experts, plant researchers, building constructors and lawyers.</p>
    <h3>Credits</h3>
    <p><u>Curator</u> Dr. Aya Luria. <u>Exhibition design</u> Erwin De Muer. <u>Exhibition graphics</u>&nbsp;Erwin De Muer in collaboration with Kate Houben. <u>Installation</u>&nbsp;Erwin De Muer and Cédrik Toselli</p><br>
  </div>
</div>