&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;inline-form newsletter-form&quot;&gt;           
    &lt;fieldset&gt;
       &lt;legend for=&quot;newsletter-scope&quot;&gt;Subscribe to my newsletter&lt;/legend&gt;
       &lt;div class=&quot;inline-container form-group&quot;&gt;
            &lt;input type=&quot;newsletter&quot; placeholder=&quot;Your e-mail address&quot; id=&quot;newsletter-field&quot; class=&quot;form-control newsletter-field&quot; /&gt;
         &lt;button class=&quot;btn newsletter-submit&quot;&gt;Ok&lt;/button&gt;
      &lt;/div&gt;
    &lt;/fieldset&gt;
&lt;/form&gt;