&lt;div class=&quot;block block-headline-text&quot;&gt;
	&lt;a href=&quot;{{ url }}&quot;&gt;
		&lt;h2 class=&quot;headline&quot;&gt;A Circumscribed Sphere: Ilit Azoulayʼs Project at KW Institute for Contemporary Art, Berlin, 2014&lt;/h2&gt;
   &lt;/a&gt;
   &lt;ul&gt;
      &lt;li&gt;by &lt;a href=&quot;#&quot;&gt;Aya Lurie&lt;/a&gt;, 2014&lt;/li&gt;
      &lt;li&gt;Published in: &lt;a href=&quot;#&quot;&gt;Finally Without End&lt;/a&gt;, 2014&lt;/li&gt;
      &lt;li&gt;Read &lt;a href=&quot;#&quot;&gt;Hebrew Translation&lt;/a&gt;&lt;/li&gt;
   &lt;/ul&gt;
	
&lt;/div&gt;