<figure class="item">
  <div>
    <img src="{{ img.landscape-16x4.src }}" alt="{{ img.landscape-16x4.alt }}" class="lazy" width="2000" height="500" style="width: 2000px; height: 500px;"/>
  </div>
  <figcaption>{{legend}}</figcaption>
</figure>