<figure class="item small-to-big small">
   <div>
      <a href="{{ img.landscape-16x4.src }}">
         <img data-original="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" class="lazy" width="71" height="53" style="width: 71px; height: 53px;"/>
      </a>
   </div>
  <figcaption>{{legend}}</figcaption>
</figure>