{{&gt; organisms-header }}
&lt;div class=&quot;panel-full&quot; id=&quot;panel-full&quot;&gt;&lt;/div&gt;
&lt;main&gt;
   &lt;article&gt;
      &lt;div class=&quot;container-fluid&quot;&gt;
         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;
               {{# gallerie-01 }}
                  {{&gt; molecules-block-headline-byline }}
               {{/ gallerie-01 }}
            &lt;/div&gt;
            {{&gt; molecules-info-panel }}
         &lt;/div&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;gallery gallery-lightbox item-align-bottom margin-sm col-md-12&quot; itemscope itemtype=&quot;http://schema.org/ImageGallery&quot;&gt;
              {{# gallerie-01-items }}
                {{&gt; organisms-article-gallery-lightbox }}
              {{/ gallerie-01-items }}
            &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
   &lt;/article&gt;

   &lt;article class=&quot;slide-container&quot;&gt;
      &lt;div class=&quot;container-fluid&quot;&gt;
         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;           
               {{# gallerie-02 }}
                  {{&gt; molecules-block-headline-byline }}
               {{/ gallerie-02 }}
            &lt;/div&gt;
            {{&gt; molecules-info-panel }}
         &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;gallery gallery-slide dragscroll&quot;&gt;
         &lt;div class=&quot;arrows&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;arrow arrow-left&quot; id=&quot;arrow-left&quot;&gt;Left&lt;/a&gt;
            &lt;a href=&quot;#&quot; class=&quot;arrow arrow-right&quot; id=&quot;arrow-right&quot;&gt;Right&lt;/a&gt;
         &lt;/div&gt;       
         {{# gallerie-01-items }}
            {{&gt; organisms-article-gallery-slide }}
         {{/ gallerie-01-items }}
      &lt;/div&gt;
   &lt;/article&gt;

   &lt;article&gt;
      &lt;div class=&quot;container-fluid&quot;&gt;
         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;
               {{# gallerie-03 }}
                  {{&gt; molecules-block-headline-byline }}
               {{/ gallerie-03 }}
            &lt;/div&gt;
            {{&gt; molecules-info-panel }}
         &lt;/div&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;gallery gallery-lightbox item-align-top margin-lg col-md-12&quot; itemscope itemtype=&quot;http://schema.org/ImageGallery&quot;&gt;
         {{# gallerie-03-items }}
            {{&gt; organisms-article-gallery-lightbox }}
         {{/ gallerie-03-items }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
   &lt;/article&gt;

   &lt;article&gt;
      &lt;div class=&quot;container-fluid&quot;&gt;
         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;
               {{# gallerie-01 }}
                  {{&gt; molecules-block-headline-byline }}
               {{/ gallerie-01 }}
            &lt;/div&gt;
            {{&gt; molecules-info-panel }}
         &lt;/div&gt;
          &lt;div class=&quot;gallery gallery-small-to-big row&quot;&gt;
            {{# gallerie-01-items }}
              {{&gt; organisms-article-gallery-small-to-big }}
            {{/ gallerie-01-items }}
          &lt;/div&gt;
      &lt;/div&gt;
   &lt;/article&gt;

   &lt;article&gt;
      &lt;div class=&quot;container-fluid&quot;&gt;
         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;
               {{# gallerie-04 }}
               {{&gt; molecules-block-headline-byline }}
               {{/ gallerie-04 }}
            &lt;/div&gt;
            {{&gt; molecules-info-panel }}
         &lt;/div&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;gallery gallery-lightbox item-align-center margin-md col-md-12&quot; itemscope itemtype=&quot;http://schema.org/ImageGallery&quot;&gt;
           {{# gallerie-04-items }}
              {{&gt; organisms-article-gallery-lightbox }}
           {{/ gallerie-04-items }}
        &lt;/div&gt;
      &lt;/div&gt;
   &lt;/article&gt;

    &lt;article&gt;
      &lt;div class=&quot;container-fluid&quot;&gt;
         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;
               {{# gallerie-04 }}
               {{&gt; molecules-block-headline-byline }}
               {{/ gallerie-04 }}
            &lt;/div&gt;
            {{&gt; molecules-info-panel }}
         &lt;/div&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;gallery gallery-lightbox item-align-center margin-xl col-md-12&quot; itemscope itemtype=&quot;http://schema.org/ImageGallery&quot;&gt;
           {{# gallerie-04-items }}
              {{&gt; organisms-article-gallery-lightbox }}
           {{/ gallerie-04-items }}
        &lt;/div&gt;
      &lt;/div&gt;
   &lt;/article&gt;

   {{! Structure of PhotoSwipe }}
   &lt;div class=&quot;pswp&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-hidden=&quot;true&quot;&gt;
       &lt;div class=&quot;pswp__bg&quot;&gt;&lt;/div&gt;
       &lt;div class=&quot;pswp__scroll-wrap&quot;&gt;
           &lt;div class=&quot;pswp__container&quot;&gt;
               &lt;div class=&quot;pswp__item&quot;&gt;&lt;/div&gt;
               &lt;div class=&quot;pswp__item&quot;&gt;&lt;/div&gt;
               &lt;div class=&quot;pswp__item&quot;&gt;&lt;/div&gt;
           &lt;/div&gt;
           &lt;div class=&quot;pswp__ui pswp__ui--hidden&quot;&gt;
               &lt;div class=&quot;pswp__top-bar&quot;&gt;
                   &lt;div class=&quot;pswp__counter&quot;&gt;&lt;/div&gt;
                   &lt;button class=&quot;pswp__button pswp__button--close&quot; title=&quot;Close (Esc)&quot;&gt;&lt;/button&gt;
                   {{! &lt;button class=&quot;pswp__button pswp__button--share&quot; title=&quot;Share&quot;&gt;&lt;/button&gt; }}
                   &lt;button class=&quot;pswp__button pswp__button--fs&quot; title=&quot;Toggle fullscreen&quot;&gt;&lt;/button&gt;
                   &lt;button class=&quot;pswp__button pswp__button--zoom&quot; title=&quot;Zoom in/out&quot;&gt;&lt;/button&gt;
                   &lt;div class=&quot;pswp__preloader&quot;&gt;
                       &lt;div class=&quot;pswp__preloader__icn&quot;&gt;
                         &lt;div class=&quot;pswp__preloader__cut&quot;&gt;
                           &lt;div class=&quot;pswp__preloader__donut&quot;&gt;&lt;/div&gt;
                         &lt;/div&gt;
                       &lt;/div&gt;
                   &lt;/div&gt;
               &lt;/div&gt;
               &lt;div class=&quot;pswp__share-modal pswp__share-modal--hidden pswp__single-tap&quot;&gt;
                   &lt;div class=&quot;pswp__share-tooltip&quot;&gt;&lt;/div&gt; 
               &lt;/div&gt;
               &lt;button class=&quot;pswp__button pswp__button--arrow--left&quot; title=&quot;Previous (arrow left)&quot;&gt;
               &lt;/button&gt;
               &lt;button class=&quot;pswp__button pswp__button--arrow--right&quot; title=&quot;Next (arrow right)&quot;&gt;
               &lt;/button&gt;
               &lt;div class=&quot;pswp__caption&quot;&gt;
                   &lt;div class=&quot;pswp__caption__center&quot;&gt;&lt;/div&gt;
               &lt;/div&gt;
           &lt;/div&gt;
       &lt;/div&gt;
   &lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}