{{&gt; organisms-header }}
   &lt;main&gt;

      &lt;div class=&quot;container-fluid&quot;&gt;
         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;
                  {{&gt; molecules-block-headline-title }}
            &lt;/div&gt;
         &lt;/div&gt;
      &lt;/div&gt;

      &lt;article&gt;
         {{&gt; molecules-media-block-right }}
      &lt;/article&gt;

      &lt;article&gt;
         {{&gt; molecules-media-block-left }}
      &lt;/article&gt;

      &lt;article&gt;
         {{&gt; molecules-media-block-right }}
      &lt;/article&gt;

      &lt;article&gt;
         {{&gt; molecules-media-block-left }}
      &lt;/article&gt;

   &lt;/main&gt;
{{&gt; organisms-footer }}