<div class="vcard">
	<div class="org">Andrea Meislin Gallery</div>
	<div class="adr">
		<div class="street-address">534 West 24th Street</div>
		<span class="locality">New York</span>,
		<span class="postal-code">10011</span>
		<div class="country-name">U.S.A</div>
	</div>
	<div class="tel">tel: 212-627-2552</div>
   <div class="fax">fax: 646-513-2824</div>
</div>