{{! &lt;div class=&quot;gallery gallery-slide dragscroll&quot;&gt; }}

  &lt;figure class=&quot;item&quot;&gt;
    &lt;div&gt;
      &lt;img data-original=&quot;{{ img.portrait-4x16.src }}&quot; alt=&quot;{{ img.portrait-4x16.alt }}&quot; class=&quot;lazy-h&quot; width=&quot;500&quot; height=&quot;2000&quot; style=&quot;width: 500px; height: 2000px;&quot;/&gt;
    &lt;/div&gt;
    &lt;figcaption&gt;Lorem ipsum dolor sit amet&lt;/figcaption&gt;
  &lt;/figure&gt;

  &lt;figure class=&quot;item&quot;&gt;
    &lt;div&gt;
      &lt;img data-original=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; class=&quot;lazy-h&quot; width=&quot;1066&quot; height=&quot;800&quot; style=&quot;width: 1066px; height: 800px;&quot;/&gt;
    &lt;/div&gt;
    &lt;figcaption&gt;Explicabo ipsam mollitia dicta accusantium&lt;/figcaption&gt;
  &lt;/figure&gt;

  &lt;figure class=&quot;item&quot;&gt;
    &lt;div&gt;
      &lt;img data-original=&quot;{{ img.landscape-16x4.src }}&quot; alt=&quot;{{ img.landscape-16x4.alt }}&quot; class=&quot;lazy-h&quot; width=&quot;2000&quot; height=&quot;500&quot; style=&quot;width: 2000px; height: 500px;&quot;/&gt;
    &lt;/div&gt;
    &lt;figcaption&gt;Fugit quam possimus, maiores sunt odio amet&lt;/figcaption&gt;
  &lt;/figure&gt;

  &lt;figure class=&quot;item&quot;&gt;
    &lt;div&gt;
      &lt;img data-original=&quot;{{ img.portrait-4x16.src }}&quot; alt=&quot;{{ img.portrait-4x16.alt }}&quot; class=&quot;lazy-h&quot; width=&quot;500&quot; height=&quot;2000&quot; style=&quot;width: 500px; height: 2000px;&quot;/&gt;
    &lt;/div&gt;
    &lt;figcaption&gt;Lorem ipsum dolor sit amet&lt;/figcaption&gt;
  &lt;/figure&gt;

  &lt;figure class=&quot;item&quot;&gt;
    &lt;div&gt;
      &lt;img data-original=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; class=&quot;lazy-h&quot; width=&quot;1066&quot; height=&quot;800&quot; style=&quot;width: 1066px; height: 800px;&quot;/&gt;
    &lt;/div&gt;
    &lt;figcaption&gt;Explicabo ipsam mollitia dicta accusantium&lt;/figcaption&gt;
  &lt;/figure&gt;

  &lt;figure class=&quot;item&quot;&gt;
    &lt;div&gt;
      &lt;img data-original=&quot;{{ img.landscape-16x4.src }}&quot; alt=&quot;{{ img.landscape-16x4.alt }}&quot; class=&quot;lazy-h&quot; width=&quot;2000&quot; height=&quot;500&quot; style=&quot;width: 2000px; height: 500px;&quot;/&gt;
    &lt;/div&gt;
    &lt;figcaption&gt;Fugit quam possimus, maiores sunt odio amet&lt;/figcaption&gt;
  &lt;/figure&gt;

{{! &lt;/div&gt; }}