{{&gt; organisms-header }}
   &lt;main&gt;

      &lt;div class=&quot;container-fluid&quot;&gt;
         &lt;div class=&quot;row sticky-container&quot;&gt;

            &lt;div class=&quot;col-md-4 col-md-offset-1 block-publications&quot;&gt;
               &lt;div class=&quot;sticky-column&quot;&gt;
                  {{&gt; molecules-block-headline-title }}
                  &lt;article&gt;
                     {{&gt; molecules-block-thumb-headline }}
                  &lt;/article&gt;
                  &lt;article&gt;
                     {{&gt; molecules-block-thumb-headline }}
                  &lt;/article&gt;
               &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;col-md-4 col-md-offset-2 block-press&quot;&gt;
               &lt;div class=&quot;sticky-column&quot;&gt;
                  {{&gt; molecules-block-headline-title }}
                  &lt;article&gt;
                     {{&gt; molecules-block-headline }}
                  &lt;/article&gt;
                  &lt;article&gt;
                     {{&gt; molecules-block-headline }}
                  &lt;/article&gt;
                  &lt;article&gt;
                     {{&gt; molecules-block-headline }}
                  &lt;/article&gt;
                  &lt;article&gt;
                     {{&gt; molecules-block-headline }}
                  &lt;/article&gt;
                  &lt;article&gt;
                     {{&gt; molecules-block-headline }}
                  &lt;/article&gt;
                  &lt;article&gt;
                     {{&gt; molecules-block-headline }}
                  &lt;/article&gt;
                  &lt;article&gt;
                     {{&gt; molecules-block-headline }}
                  &lt;/article&gt;
                  &lt;article&gt;
                     {{&gt; molecules-block-headline }}
                  &lt;/article&gt;
                  &lt;article&gt;
                     {{&gt; molecules-block-headline }}
                  &lt;/article&gt;
                  &lt;article&gt;
                     {{&gt; molecules-block-headline }}
                  &lt;/article&gt;
                  &lt;article&gt;
                     {{&gt; molecules-block-headline }}
                  &lt;/article&gt;
               &lt;/div&gt;
            &lt;/div&gt;

         &lt;/div&gt;
      &lt;/div&gt;


   &lt;/main&gt;
{{&gt; organisms-footer }}