// ------------------------------------------------------------
// Patternlab templates
// ------------------------------------------------------------

main{
  @include margin-bottom($spacing-xxxl-responsive);
  @include calc("min-height", "100vh - 660px");
}

/* ::homepage */
/* ------------------------------------------------------------ */


.panel-full {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 98;
  display: none;
  opacity: 0;
  transition: all 3s linear;
}

.panel-open .panel-full {
  display: block;
  opacity: 1;
}


/* Block > block-headline */

article .block-headline-byline{
  @include margin-bottom($spacing-xl-responsive);
}


/* ::Texts */
/* ------------------------------------------------------------ */

article.block-text{
  @include margin-bottom($spacing-xl-responsive);
  &:last-of-type{
    margin-bottom: 0;
  }
}


/* ::Pulications & press */
/* ------------------------------------------------------------ */

.block-publications{
  article:last-of-type{
    @media (min-width: $screen-md){
      margin-bottom: 0;
    }
    
  }
  @media (max-width: $screen-md){
    @include margin-bottom($spacing-xxl-responsive);
  }
}

.block-press{
  article{
    @include margin-bottom($spacing-lg-responsive);
  }
  .block-headline-text{
    h2{
      @include font-size($gamma-font-sizes);
    }
    .excerpt{
      @include font-size($delta-font-sizes);
      &:first-of-type{
        margin-bottom: $spacing-xs;
      }
    }
  }
}

/* ::Pulications */
/* ------------------------------------------------------------ */

.publications,
.single-publications{
  .col-md-4 img{
    width: 100%;
  }
  .infos-link{
    @include margin-bottom($spacing-md-responsive);
    a{
      @include font-size($beta-font-sizes);
      display: block;
    }
    p{
      margin-bottom: 0;
    }
  }
  h2{
    @include margin-bottom($spacing-md-responsive);
    @media (max-width: $screen-sm){
      @include margin-top($spacing-md-responsive);
    }
  }
  h3{
    @media (max-width: $screen-sm){
      @include margin-top($spacing-lg-responsive);
    }
  }
  .infos-publications{
    *{
      @include font-size($delta-font-sizes);
    }
  }
  .gallery-slide{
    @include margin-top($spacing-xl-responsive);
    @include margin-bottom($spacing-xl-responsive);
    figure.item{
      margin-right: $grid-gutter-width/4;
      &:first-of-type{
        padding-left: $grid-gutter-width/4;
      }
    }
    img{
      height: 30vh !important;
    }
  }
}

/* ::Single */
/* ------------------------------------------------------------ */

.single:not(.single-publications){
  img{
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  figure{
    @include margin-top($spacing-lg-responsive);
    @include margin-bottom($spacing-lg-responsive);
    @media (min-width: $screen-md){
      width: 125%;
      position: relative;
      left: -12.5%;
    }
  }

  ol{
    @include margin-top($spacing-lg-responsive);
    @include margin-bottom($spacing-lg-responsive);
    & li ol{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

/* ::Contact & infos */
/* ------------------------------------------------------------ */

main.infos{
  a{
    display: block;
  }
  img{
    width: 100%;
    display: block;
  }
  h3{
    @include margin-top($spacing-lg-responsive);
    text-align: center;
  }
  h4{
    @include font-size($gamma-font-sizes);
    margin-bottom: 1em;
    margin-top: 2em;
    &:before{
      content:"";
      display: block;
      width: 100%;
      height: 4px;
      background: url("../images/border-background.svg") repeat-x;
      padding-bottom: $spacing-sm;
    }
  }
  article:not(.contact) p{
    margin-bottom: 1em;
    @include font-size($delta-font-sizes);
  }
  a.pdf{
    position: relative;
    margin: 2em 0;
    &:hover:after{
      position: absolute;
      top: 0;
      right: 0;
      content: "↗";
    }
  }
  .contact{
    text-align: center;
  }
}

/* ::Exhibitions */
/* ------------------------------------------------------------ */
.page-id-223{
  article{
    @include margin-bottom($spacing-xl-responsive);
  }
}
