&lt;figure class=&quot;item&quot;&gt;
  &lt;div&gt;
    &lt;img src=&quot;{{ img.landscape-16x4.src }}&quot; alt=&quot;{{ img.landscape-16x4.alt }}&quot; class=&quot;lazy&quot; width=&quot;2000&quot; height=&quot;500&quot; style=&quot;width: 2000px; height: 500px;&quot;/&gt;
  &lt;/div&gt;
  &lt;figcaption&gt;{{legend}}&lt;/figcaption&gt;
&lt;/figure&gt;