{{&gt; organisms-header }}
   &lt;main class=&quot;infos&quot;&gt;
      &lt;div class=&quot;container-fluid&quot;&gt;
         &lt;div class=&quot;row&quot;&gt;

            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;
               {{&gt; molecules-block-headline-title }}
               &lt;article class=&quot;contact&quot;&gt;
                  {{&gt; organisms-infos }}
               &lt;/article&gt;
            &lt;/div&gt;

            &lt;div class=&quot;col-md-4 col-md-offset-2&quot;&gt;
               {{&gt; molecules-block-headline-title }}
               &lt;article&gt;
                  {{&gt; atoms-landscape-4x3 }}
                  {{&gt; organisms-cv }}
               &lt;/article&gt;
            &lt;/div&gt;

         &lt;/div&gt;
      &lt;/div&gt;
   &lt;/main&gt;
{{&gt; organisms-footer }}