{{&gt; organisms-header }}
   &lt;main class=&quot;publications&quot;&gt;

      &lt;div class=&quot;container-fluid&quot;&gt;

         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;
               {{&gt; molecules-block-headline-title }}
            &lt;/div&gt;
         &lt;/div&gt;

         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;
               {{&gt; atoms-landscape-4x3 }}
            &lt;/div&gt;
            &lt;div class=&quot;col-md-6&quot;&gt;
               &lt;h2&gt;Finally Without End&lt;/h2&gt;
               &lt;p&gt;Finally Without End features Ilit Azoulay&rsquo;s meticulously composed photographs, and includes work from the series &ldquo;Implicit Manifestations,&rdquo; created during a six-month residency at the KW Institute for Contemporary Art in Berlin.&lt;/p&gt;
               &lt;p&gt;Concerned with the unacknowledged scraps and remains of the everyday&mdash;from architectural debris to spools of thread&mdash;her photographs capture the ambiguity of objects detached from their original purpose. Presented in new symmetrical configurations, her images speak to the memory-work attributed to things and our unreliable cataloguing of knowledge through them.&lt;/p&gt;
            &lt;/div&gt;
         &lt;/div&gt;

      &lt;/div&gt;

      &lt;div class=&quot;slide-container&quot;&gt;
         &lt;div class=&quot;gallery gallery-slide dragscroll&quot;&gt;
            &lt;div class=&quot;arrows&quot;&gt;
               &lt;a href=&quot;#&quot; class=&quot;arrow arrow-left&quot; id=&quot;arrow-left&quot;&gt;Left&lt;/a&gt;
               &lt;a href=&quot;#&quot; class=&quot;arrow arrow-right&quot; id=&quot;arrow-right&quot;&gt;Right&lt;/a&gt;
            &lt;/div&gt;       
            {{# gallerie-01-items }}
               {{&gt; organisms-article-gallery-slide }}
            {{/ gallerie-01-items }}
         &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class=&quot;container-fluid&quot;&gt;

         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-6 col-md-offset-1&quot;&gt;
               &lt;p&gt;In addition to her photographs, this publication offers a variety of perspectives on Azoulay&rsquo;s practice. Sarit Shapira describes the artist&rsquo;s 2008 series &ldquo;Unknown Aspects&rdquo; as an elevation of cultural debris to the level of representation, while Michal Ben-Naftali offers a psychoanalytic reading of Azoulay&rsquo;s uncanny images. Shalom Shpilman explores the viewer&rsquo;s participation in the artist&rsquo;s visual realm of significance. Curators Aya Lurie (Herzliya Museum of Contemporary Art, Israel) and Gabriele Horn (KW Berlin) meditate on two concurrent exhibitions of some of the work featured in this book. Azoulay&rsquo;s photographs, as one essay describes, are events-in-progress&mdash;forever unfolding and forestalling conclusion.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;col-md-3 col-md-offset-1&quot;&gt;
               &lt;div class=&quot;infos-link&quot;&gt;
                  &lt;h3&gt;Where to get it&lt;/h3&gt;
                  &lt;a href=&quot;#&quot;&gt;Amazon&lt;/a&gt;
                  &lt;a href=&quot;#&quot;&gt;Sternberg Press&lt;/a&gt;
               &lt;/div&gt;
               &lt;div class=&quot;infos-publications&quot;&gt;
                  &lt;p&gt;Edited by Orit Bulgaru Contributions by Michal Ben-Neftali, Joseph Cohen, Gabriele Horn, Aya Lurie, Sarit Shapira, Shalom Shpilman, Raphael Zagury-Orly  Design by Tobias Wenig&lt;/p&gt;
                  &lt;p&gt;November 2014, English 21 x 31 cm, 192 pages, 19 b/w and 128 color illustrations, softcover ISBN 978-3-95679-109-3&lt;/p&gt;
               &lt;/div&gt;
            &lt;/div&gt;
         &lt;/div&gt;

      &lt;/div&gt;



   &lt;/main&gt;
{{&gt; organisms-footer }}