{{&gt; organisms-header }}
   &lt;main class=&quot;single&quot;&gt;
      &lt;article class=&quot;container-fluid&quot;&gt;

         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;
               {{&gt; molecules-block-headline-title }}
            &lt;/div&gt;
         &lt;/div&gt;

         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-8 col-md-offset-2&quot;&gt;

               &lt;div class=&quot;intro&quot;&gt;
                  Finally Without End features Ilit Azoulay&rsquo;s meticulously composed photographs, and includes work from the series &ldquo;Implicit Manifestations,&rdquo; created during a six-month residency at the KW Institute for Contemporary Art in Berlin.
               &lt;/div&gt;
 
               {{&gt; molecules-figure-with-caption }}

               
               &lt;blockquote&gt;
                  &lt;p&gt;Finally Without End features Ilit Azoulay&rsquo;s meticulously composed photographs, and includes work from the series &ldquo;Implicit Manifestations,&rdquo; created during a six-month residency at the KW Institute for Contemporary Art in Berlin.&lt;/p&gt;
               &lt;/blockquote&gt;
               
               &lt;p&gt;Concerned with the unacknowledged scraps and remains of the everyday&mdash;from architectural debris to spools of thread&mdash;her photographs capture the ambiguity of objects detached from their original purpose. Presented in new symmetrical configurations, her images speak to the memory-work attributed to things and our unreliable cataloguing of knowledge through them.&lt;/p&gt;
               &lt;h3&gt;Finally Without End&lt;/h3&gt;
               &lt;p&gt;In addition to her photographs, this publication offers a variety of perspectives on Azoulay&rsquo;s practice. Sarit Shapira describes the artist&rsquo;s 2008 series &ldquo;Unknown Aspects&rdquo; as an elevation of cultural debris to the level of representation, while Michal Ben-Naftali offers a psychoanalytic reading of Azoulay&rsquo;s uncanny images. Shalom Shpilman explores the viewer&rsquo;s participation in the artist&rsquo;s visual realm of significance. Curators Aya Lurie (Herzliya Museum of Contemporary Art, Israel) and Gabriele Horn (KW Berlin) meditate on two concurrent exhibitions of some of the work featured in this book. Azoulay&rsquo;s photographs, as one essay describes, are events-in-progress&mdash;forever unfolding and forestalling conclusion.&lt;/p&gt;

            &lt;/div&gt;
         &lt;/div&gt;

      &lt;/article&gt;
   &lt;/main&gt;
{{&gt; organisms-footer }}