<div class="container-fluid demo">
  <div class="row">
    <div class="col-sm-3 gi">1/4</div>
    <div class="col-sm-3 gi">1/4</div>
    <div class="col-sm-3 gi">1/4</div>
    <div class="col-sm-3 gi">1/4</div>
  </div><!--end .row-->     
</div><!--end .container-fluid-->