<form action="{{ url }}" method="post" class="inline-form search-form">           
    <fieldset>
	    <legend class="is-vishidden">Search</legend>
	    <label for="search-field" class="is-vishidden">Search</label>
	    <input type="search" placeholder="Search" id="search-field" class="search-field form-control" />
	    <button class="search-submit">
	    	<span class="icon-search" aria-hidden="true"></span>
	    	<span class="is-vishidden">Search</span>
	    </button>
    </fieldset>
</form>