<form method="post" action="{{ url }}" class="comment-form">
	<fieldset>
		<div class="form-group">
			<label for="comment-name">Name</label>
			<input id="comment-name" type="text" class="form-control" placeholder="Enter Your Name" />
		</div>
		<div class="form-group">
			<label for="comment-email">Email</label>
			<input id="comment-email" type="email" class="form-control" placeholder="Your email address" />
		</div>
		<div class="form-group">
			<label for="comment-url">URL</label>
			<input id="comment-url" type="url" class="form-control" placeholder="Website if you got one" />
		</div>
		<div class="form-group">
			<label for="comment-field">Comment</label>
			<textarea id="comment-field" rows="5" class="form-control" placeholder="Write you comment here"></textarea>
		</div>
	</fieldset>
</form>