<form action="{{ url }}" method="post" class="inline-form newsletter-form">           
    <fieldset>
       <legend for="newsletter-scope">Subscribe to our newsletter</legend>
       <div class="inline-container">
            <input type="newsletter" placeholder="Your e-mail address" id="newsletter-field" class="form-control newsletter-field" />
         <button class="btn newsletter-submit">Sign up</button>
      </div>
    </fieldset>
</form>