&lt;div class=&quot;block block-headline-byline&quot;&gt;
  &lt;hr&gt;
	&lt;h2 class=&quot;b-title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
   {{&gt; atoms-time }}
   {{&gt; atoms-buttons }}
&lt;/div&gt;