{{!
   --&gt; ALIGNEMENT
   &amp;.item-align-top .item        {@include justify-content(flex-start);}
   &amp;.item-align-center .item     {@include justify-content(center);}
   &amp;.item-align-bottom .item     {@include justify-content(flex-end);}
   --&gt; MARGINS
   &amp;.margin-none .item  {margin: 0;}
   &amp;.margin-sm   .item  {margin: $spacing-sm;}
   &amp;.margin-md   .item  {margin: $spacing-md;}
   &amp;.margin-lg   .item  {margin: $spacing-lg;}
   &amp;.margin-xl   .item  {margin: $spacing-xl;}
}}

{{&gt; molecules-image-small-to-big }}
{{&gt; molecules-image-small-to-big }}
{{&gt; molecules-image-small-to-big }}
{{&gt; molecules-image-small-to-big }}
{{&gt; molecules-image-small-to-big }}
{{&gt; molecules-image-small-to-big }}
{{&gt; molecules-image-small-to-big }}