{{! <div class="gallery gallery-lightbox item-align-bottom margin-sm" itemscope itemtype="http://schema.org/ImageGallery"> }}
   {{!
   --> ALIGNEMENT
   &.item-align-top .item        {@include justify-content(flex-start);}
   &.item-align-center .item     {@include justify-content(center);}
   &.item-align-bottom .item     {@include justify-content(flex-end);}
   --> MARGINS
   &.margin-none .item  {margin: 0;}
   &.margin-sm   .item  {margin: $spacing-sm;}
   &.margin-md   .item  {margin: $spacing-md;}
   &.margin-lg   .item  {margin: $spacing-lg;}
   &.margin-xl   .item  {margin: $spacing-xl;}
   }}
   

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.portrait-4x16.src }}" itemprop="contentUrl" data-size="500x2000" data-index="0">
        <span>1</span>
         <img data-original="{{ img.portrait-4x16.src }}" alt="{{ img.portrait-4x16.alt }}" class="lazy" width="33" height="133"
         style="width: 33px; height: 133px;" itemprop="thumbnail"/>
      </a>
      <figcaption>{{ legend }}</figcaption>
   </figure>

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.landscape-4x3.src }}" itemprop="contentUrl" data-size="1066x800" data-index="1">
        <span>2</span>
         <img data-original="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" class="lazy" width="71" height="53" style="width: 71px; height: 53px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Explicabo ipsam mollitia dicta accusantium</figcaption>
   </figure>

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.landscape-16x4.src }}" itemprop="contentUrl" data-size="2000x500" data-index="2">
        <span>3</span>
         <img data-original="{{ img.landscape-16x4.src }}" alt="{{ img.landscape-16x4.alt }}" class="lazy" width="133" height="33" style="width: 133px; height: 33px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Fugit quam possimus, maiores sunt odio amet</figcaption>
   </figure>

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.landscape-4x3.src }}" itemprop="contentUrl" data-size="1066x800" data-index="3">
        <span>4</span>
         <img data-original="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" class="lazy" width="71" height="53" style="width: 71px; height: 53px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, ea, quos quod tenetur aliquam dolores officiis architecto illo, voluptatem culpa temporibus eaque quia et suscipit rerum officia quam deleniti ipsa.</figcaption>
   </figure>

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.landscape-4x3.src }}" itemprop="contentUrl" data-size="1066x800" data-index="4">
        <span>5</span>
         <img data-original="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" class="lazy" width="71" height="53" style="width: 71px; height: 53px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Lorem ipsum dolor sit amet</figcaption>
   </figure>

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.portrait-4x16.src }}" itemprop="contentUrl" data-size="500x2000" data-index="5">
        <span>6</span>
         <img data-original="{{ img.portrait-4x16.src }}" alt="{{ img.portrait-4x16.alt }}" class="lazy" width="33" height="133"
         style="width: 33px; height: 133px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Numquam praesentium distinctio laudantium voluptatibus!</figcaption>
   </figure>

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.landscape-4x3.src }}" itemprop="contentUrl" data-size="1066x800" data-index="6">
        <span>7</span>
         <img data-original="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" class="lazy" width="71" height="53" style="width: 71px; height: 53px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Lorem ipsum dolor sit amet</figcaption>
   </figure>

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.landscape-16x4.src }}" itemprop="contentUrl" data-size="2000x500" data-index="7">
        <span>8</span>
         <img data-original="{{ img.landscape-16x4.src }}" alt="{{ img.landscape-16x4.alt }}" class="lazy" width="133" height="33" style="width: 133px; height: 33px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quis perferendis quasi beatae, ullam sint facere, impedit corrupti reprehenderit exercitationem excepturi voluptate.</figcaption>
   </figure>

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.landscape-4x3.src }}" itemprop="contentUrl" data-size="1066x800" data-index="3">
        <span>9</span>
         <img data-original="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" class="lazy" width="71" height="53" style="width: 71px; height: 53px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, ea, quos quod tenetur aliquam dolores officiis architecto illo, voluptatem culpa temporibus eaque quia et suscipit rerum officia quam deleniti ipsa.</figcaption>
   </figure>

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.landscape-4x3.src }}" itemprop="contentUrl" data-size="1066x800" data-index="4">
        <span>10</span>
         <img data-original="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" class="lazy" width="71" height="53" style="width: 71px; height: 53px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Lorem ipsum dolor sit amet</figcaption>
   </figure>
   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.landscape-16x4.src }}" itemprop="contentUrl" data-size="2000x500" data-index="7">
        <span>11</span>
         <img data-original="{{ img.landscape-16x4.src }}" alt="{{ img.landscape-16x4.alt }}" class="lazy" width="133" height="33" style="width: 133px; height: 33px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quis perferendis quasi beatae, ullam sint facere, impedit corrupti reprehenderit exercitationem excepturi voluptate.</figcaption>
   </figure>

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.landscape-4x3.src }}" itemprop="contentUrl" data-size="1066x800" data-index="3">
        <span>12</span>
         <img data-original="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" class="lazy" width="71" height="53" style="width: 71px; height: 53px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, ea, quos quod tenetur aliquam dolores officiis architecto illo, voluptatem culpa temporibus eaque quia et suscipit rerum officia quam deleniti ipsa.</figcaption>
   </figure>

   <figure class="item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ img.landscape-4x3.src }}" itemprop="contentUrl" data-size="1066x800" data-index="4">
        <span>13</span>
         <img data-original="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" class="lazy" width="71" height="53" style="width: 71px; height: 53px;" itemprop="thumbnail"/>
      </a>
      <figcaption>Lorem ipsum dolor sit amet</figcaption>
   </figure>   
{{! </div> }}

