{{! <div class="gallery gallery-slide dragscroll"> }}

  <figure class="item">
    <div>
      <img data-original="{{ img.portrait-4x16.src }}" alt="{{ img.portrait-4x16.alt }}" class="lazy-h" width="500" height="2000" style="width: 500px; height: 2000px;"/>
    </div>
    <figcaption>Lorem ipsum dolor sit amet</figcaption>
  </figure>

  <figure class="item">
    <div>
      <img data-original="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" class="lazy-h" width="1066" height="800" style="width: 1066px; height: 800px;"/>
    </div>
    <figcaption>Explicabo ipsam mollitia dicta accusantium</figcaption>
  </figure>

  <figure class="item">
    <div>
      <img data-original="{{ img.landscape-16x4.src }}" alt="{{ img.landscape-16x4.alt }}" class="lazy-h" width="2000" height="500" style="width: 2000px; height: 500px;"/>
    </div>
    <figcaption>Fugit quam possimus, maiores sunt odio amet</figcaption>
  </figure>

  <figure class="item">
    <div>
      <img data-original="{{ img.portrait-4x16.src }}" alt="{{ img.portrait-4x16.alt }}" class="lazy-h" width="500" height="2000" style="width: 500px; height: 2000px;"/>
    </div>
    <figcaption>Lorem ipsum dolor sit amet</figcaption>
  </figure>

  <figure class="item">
    <div>
      <img data-original="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" class="lazy-h" width="1066" height="800" style="width: 1066px; height: 800px;"/>
    </div>
    <figcaption>Explicabo ipsam mollitia dicta accusantium</figcaption>
  </figure>

  <figure class="item">
    <div>
      <img data-original="{{ img.landscape-16x4.src }}" alt="{{ img.landscape-16x4.alt }}" class="lazy-h" width="2000" height="500" style="width: 2000px; height: 500px;"/>
    </div>
    <figcaption>Fugit quam possimus, maiores sunt odio amet</figcaption>
  </figure>

{{! </div> }}