{{!
   --> ALIGNEMENT
   &.item-align-top .item        {@include justify-content(flex-start);}
   &.item-align-center .item     {@include justify-content(center);}
   &.item-align-bottom .item     {@include justify-content(flex-end);}
   --> MARGINS
   &.margin-none .item  {margin: 0;}
   &.margin-sm   .item  {margin: $spacing-sm;}
   &.margin-md   .item  {margin: $spacing-md;}
   &.margin-lg   .item  {margin: $spacing-lg;}
   &.margin-xl   .item  {margin: $spacing-xl;}
}}

{{> molecules-image-small-to-big }}
{{> molecules-image-small-to-big }}
{{> molecules-image-small-to-big }}
{{> molecules-image-small-to-big }}
{{> molecules-image-small-to-big }}
{{> molecules-image-small-to-big }}
{{> molecules-image-small-to-big }}