<h2>Studies</h2>
<dl>
   <dt>2008-2010</dt>
      <dd>MFA, Bezalel Academy Of Arts and Design, Tel Aviv, Israel</dd>
   <dt>1994-1998</dt>
      <dd>BFA, Bezalel Academy of Arts and Design, Jerusalem, Israel Department of Photography</dd>
</dl>
<h2>Solo Exhibitions</h2>
<dl>
   <dt>2014</dt>
      <dd>Implicit Manifestation, Solo Exhibition, Herzliya Museum of Contemporary Art, curator: Dr. Aya Lurie</dd>
      <dd>Shifting Degrees of Certainty, Solo Exhibition, KW, Berlin, Germany, curator: Gabriele Horn (KW)</dd>
      <dd>Les Rencontres d'Arles Discovery Award, nominated by Quentin Bajac (MOMA), France</dd>
   <dt>2013</dt>
      <dd>Linguistic Turn, Braverman Gallery, Tel Aviv, Israel</dd>
      <dd>Room#8, Andrea Meilsin Gallery, New York, USA</dd>
   <dt>2011</dt>
      <dd>The Keys, Andrea Meislin Gallery, New York, USA</dd>
   <dt>2010</dt>
      <dd>The Keys, Bezalel Gallery, Tel Aviv, Israel</dd>
</dl>
<h2>Group Exhibitions</h2>
<dl>
   <dt>2014</dt>
      <dd>Until You Get Out Of My Voice, Ashdod Art Museum, Ashdod, Israel, curators: Yuval Beaton & Roni Cohen-Binyamini</dd>
      <dd>The AIPAD Photography Show 2014, Andrea Meislin Gallery, New York, USA (forthcoming)</dd>
      <dd>Paris Photo 2014, Andrea Meislin Gallery, Paris, France (forthcoming)</dd>
</dl>
<a href="#" class="pdf">Download PDF</a>
