&lt;figure class=&quot;item small-to-big small&quot;&gt;
   &lt;div&gt;
      &lt;a href=&quot;{{ img.landscape-16x4.src }}&quot;&gt;
         &lt;img data-original=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; class=&quot;lazy&quot; width=&quot;71&quot; height=&quot;53&quot; style=&quot;width: 71px; height: 53px;&quot;/&gt;
      &lt;/a&gt;
   &lt;/div&gt;
  &lt;figcaption&gt;{{legend}}&lt;/figcaption&gt;
&lt;/figure&gt;