&lt;!-- Begin .header --&gt;
&lt;header class=&quot;header cf container-fluid&quot; role=&quot;banner&quot;&gt;
   &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-4 col-sm-offset-1&quot;&gt;
         {{&gt; atoms-logo }}
      &lt;/div&gt;
      &lt;div class=&quot;col-sm-4 col-sm-offset-2&quot;&gt;
         {{&gt; molecules-primary-nav }}
      &lt;/div&gt;
   &lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;