<div class="form-group">
    <label for="text">Text Input <abbr title="Required">*</abbr></label>
    <input id="text" type="text" placeholder="Text Input" class="form-control">
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Type your Password" class="form-control">
</div>
<div class="form-group">
    <label for="webaddress">Web Address</label>
    <input id="webaddress" type="url" placeholder="http://yoursite.com" class="form-control">
</div>
<div class="form-group">
    <label for="emailaddress">Email Address</label>
    <input id="emailaddress" type="email" placeholder="name@email.com" class="form-control">
</div>
<div class="form-group">
    <label for="number">Number Input <abbr title="Required">*</abbr></label>
    <input id="number" type="number" placeholder="Enter a Number" pattern="[0-9]*" class="form-control">
</div>
<div class="form-group">
    <label for="textarea">Textarea</label>
    <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here" class="form-control"></textarea>
</div>
<div class="form-group">
    <label class="error">Error Input</label>
    <input type="text" placeholder="Text Input" class="is-error form-control">
</div>  