<div class="form-group">
  <label for="select">Select</label>
  <select id="select" class="form-control">
    <optgroup label="Option Group">
      <option>Option One</option>
      <option>Option Two</option>
      <option>Option Three</option>
    </optgroup>
  </select>
</div>