<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Choice A
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Choice B
  </label>
</div>