<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="{{ url }}">Projects</a></li>
		<li><a href="{{ url }}">Texts</a></li>
		<li><a href="{{ url }}">Publications & press</a></li>
		<li><a href="{{ url }}">Exhibitions</a></li>
      <li><a href="{{ url }}">Contact & infos</a></li>
	</ul>
</nav><!--end .nav-->
