{{&gt; organisms-header }}
   &lt;main&gt;

      &lt;div class=&quot;container-fluid&quot;&gt;
         &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4 col-md-offset-1&quot;&gt;
                  {{&gt; molecules-block-headline-title }}
            &lt;/div&gt;
         &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class=&quot;container-fluid&quot;&gt;
         &lt;div class=&quot;row&quot;&gt;

            &lt;article class=&quot;block-text col-md-10 col-md-offset-1&quot;&gt;
               {{&gt; molecules-block-headline }}
            &lt;/article&gt;

            &lt;article class=&quot;block-text col-md-10 col-md-offset-1&quot;&gt;
               {{&gt; molecules-block-headline }}
            &lt;/article&gt;

            &lt;article class=&quot;block-text col-md-10 col-md-offset-1&quot;&gt;
               {{&gt; molecules-block-headline }}
            &lt;/article&gt;

            &lt;article class=&quot;block-text col-md-10 col-md-offset-1&quot;&gt;
               {{&gt; molecules-block-headline }}
            &lt;/article&gt;

         &lt;/div&gt;
      &lt;/div&gt;

   &lt;/main&gt;
{{&gt; organisms-footer }}