<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: black;"></span>
		<span class="sg-label">black</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: white;"></span>
		<span class="sg-label">white</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: blue;"></span>
		<span class="sg-label">blue</span>
	</li>
</ul>