<p>Primary font: "Helvetica Neue", Helvetica, Arial, sans-serif; </p>
<p><em>Primary font italic: "Helvetica Neue", Helvetica, Arial, sans-serif; </em></p>
<p><strong>Primary font bold: "Helvetica Neue", Helvetica, Arial, sans-serif; </strong></p>
<p class="font-var">Secondary font: "Times", "Times New Roman", serif;</p>
<p class="font-var"><em>Secondary font italic: "Times", "Times New Roman", serif;</em></p>
<p class="font-var"><strong>Secondary font bold: "Times", "Times New Roman", serif;</strong></p>