<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: black;"></span>
		<span class="sg-label">black</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F6F6F6;"></span>
		<span class="sg-label">white</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4900FF;"></span>
		<span class="sg-label">Mauve</span>
	</li>
</ul>