<p>Primary font: "Univers Else", Helvetica, Arial, sans-serif; </p>
<p><em>Primary font italic: "Univers Else", Helvetica, Arial, sans-serif; </em></p>
<p><strong>Primary font bold: "Univers Else", Helvetica, Arial, sans-serif; </strong></p>