{{! &lt;div class=&quot;gallery gallery-lightbox item-align-bottom margin-sm&quot; itemscope itemtype=&quot;http://schema.org/ImageGallery&quot;&gt; }}
   {{!
   --&gt; ALIGNEMENT
   &amp;.item-align-top .item        {@include justify-content(flex-start);}
   &amp;.item-align-center .item     {@include justify-content(center);}
   &amp;.item-align-bottom .item     {@include justify-content(flex-end);}
   --&gt; MARGINS
   &amp;.margin-none .item  {margin: 0;}
   &amp;.margin-sm   .item  {margin: $spacing-sm;}
   &amp;.margin-md   .item  {margin: $spacing-md;}
   &amp;.margin-lg   .item  {margin: $spacing-lg;}
   &amp;.margin-xl   .item  {margin: $spacing-xl;}
   }}
   

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.portrait-4x16.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;500x2000&quot; data-index=&quot;0&quot;&gt;
        &lt;span&gt;1&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.portrait-4x16.src }}&quot; alt=&quot;{{ img.portrait-4x16.alt }}&quot; class=&quot;lazy&quot; width=&quot;33&quot; height=&quot;133&quot;
         style=&quot;width: 33px; height: 133px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;{{ legend }}&lt;/figcaption&gt;
   &lt;/figure&gt;

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.landscape-4x3.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;1066x800&quot; data-index=&quot;1&quot;&gt;
        &lt;span&gt;2&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; class=&quot;lazy&quot; width=&quot;71&quot; height=&quot;53&quot; style=&quot;width: 71px; height: 53px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Explicabo ipsam mollitia dicta accusantium&lt;/figcaption&gt;
   &lt;/figure&gt;

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.landscape-16x4.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;2000x500&quot; data-index=&quot;2&quot;&gt;
        &lt;span&gt;3&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.landscape-16x4.src }}&quot; alt=&quot;{{ img.landscape-16x4.alt }}&quot; class=&quot;lazy&quot; width=&quot;133&quot; height=&quot;33&quot; style=&quot;width: 133px; height: 33px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Fugit quam possimus, maiores sunt odio amet&lt;/figcaption&gt;
   &lt;/figure&gt;

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.landscape-4x3.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;1066x800&quot; data-index=&quot;3&quot;&gt;
        &lt;span&gt;4&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; class=&quot;lazy&quot; width=&quot;71&quot; height=&quot;53&quot; style=&quot;width: 71px; height: 53px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, ea, quos quod tenetur aliquam dolores officiis architecto illo, voluptatem culpa temporibus eaque quia et suscipit rerum officia quam deleniti ipsa.&lt;/figcaption&gt;
   &lt;/figure&gt;

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.landscape-4x3.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;1066x800&quot; data-index=&quot;4&quot;&gt;
        &lt;span&gt;5&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; class=&quot;lazy&quot; width=&quot;71&quot; height=&quot;53&quot; style=&quot;width: 71px; height: 53px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Lorem ipsum dolor sit amet&lt;/figcaption&gt;
   &lt;/figure&gt;

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.portrait-4x16.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;500x2000&quot; data-index=&quot;5&quot;&gt;
        &lt;span&gt;6&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.portrait-4x16.src }}&quot; alt=&quot;{{ img.portrait-4x16.alt }}&quot; class=&quot;lazy&quot; width=&quot;33&quot; height=&quot;133&quot;
         style=&quot;width: 33px; height: 133px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Numquam praesentium distinctio laudantium voluptatibus!&lt;/figcaption&gt;
   &lt;/figure&gt;

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.landscape-4x3.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;1066x800&quot; data-index=&quot;6&quot;&gt;
        &lt;span&gt;7&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; class=&quot;lazy&quot; width=&quot;71&quot; height=&quot;53&quot; style=&quot;width: 71px; height: 53px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Lorem ipsum dolor sit amet&lt;/figcaption&gt;
   &lt;/figure&gt;

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.landscape-16x4.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;2000x500&quot; data-index=&quot;7&quot;&gt;
        &lt;span&gt;8&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.landscape-16x4.src }}&quot; alt=&quot;{{ img.landscape-16x4.alt }}&quot; class=&quot;lazy&quot; width=&quot;133&quot; height=&quot;33&quot; style=&quot;width: 133px; height: 33px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quis perferendis quasi beatae, ullam sint facere, impedit corrupti reprehenderit exercitationem excepturi voluptate.&lt;/figcaption&gt;
   &lt;/figure&gt;

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.landscape-4x3.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;1066x800&quot; data-index=&quot;3&quot;&gt;
        &lt;span&gt;9&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; class=&quot;lazy&quot; width=&quot;71&quot; height=&quot;53&quot; style=&quot;width: 71px; height: 53px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, ea, quos quod tenetur aliquam dolores officiis architecto illo, voluptatem culpa temporibus eaque quia et suscipit rerum officia quam deleniti ipsa.&lt;/figcaption&gt;
   &lt;/figure&gt;

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.landscape-4x3.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;1066x800&quot; data-index=&quot;4&quot;&gt;
        &lt;span&gt;10&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; class=&quot;lazy&quot; width=&quot;71&quot; height=&quot;53&quot; style=&quot;width: 71px; height: 53px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Lorem ipsum dolor sit amet&lt;/figcaption&gt;
   &lt;/figure&gt;
   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.landscape-16x4.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;2000x500&quot; data-index=&quot;7&quot;&gt;
        &lt;span&gt;11&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.landscape-16x4.src }}&quot; alt=&quot;{{ img.landscape-16x4.alt }}&quot; class=&quot;lazy&quot; width=&quot;133&quot; height=&quot;33&quot; style=&quot;width: 133px; height: 33px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quis perferendis quasi beatae, ullam sint facere, impedit corrupti reprehenderit exercitationem excepturi voluptate.&lt;/figcaption&gt;
   &lt;/figure&gt;

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.landscape-4x3.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;1066x800&quot; data-index=&quot;3&quot;&gt;
        &lt;span&gt;12&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; class=&quot;lazy&quot; width=&quot;71&quot; height=&quot;53&quot; style=&quot;width: 71px; height: 53px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, ea, quos quod tenetur aliquam dolores officiis architecto illo, voluptatem culpa temporibus eaque quia et suscipit rerum officia quam deleniti ipsa.&lt;/figcaption&gt;
   &lt;/figure&gt;

   &lt;figure class=&quot;item&quot; itemprop=&quot;associatedMedia&quot; itemscope itemtype=&quot;http://schema.org/ImageObject&quot;&gt;
      &lt;a href=&quot;{{ img.landscape-4x3.src }}&quot; itemprop=&quot;contentUrl&quot; data-size=&quot;1066x800&quot; data-index=&quot;4&quot;&gt;
        &lt;span&gt;13&lt;/span&gt;
         &lt;img data-original=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;{{ img.landscape-4x3.alt }}&quot; class=&quot;lazy&quot; width=&quot;71&quot; height=&quot;53&quot; style=&quot;width: 71px; height: 53px;&quot; itemprop=&quot;thumbnail&quot;/&gt;
      &lt;/a&gt;
      &lt;figcaption&gt;Lorem ipsum dolor sit amet&lt;/figcaption&gt;
   &lt;/figure&gt;   
{{! &lt;/div&gt; }}

