{{> organisms-header }}
<div class="panel-full" id="panel-full"></div>
<main>
   <article>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4 col-md-offset-1">
               {{# gallerie-01 }}
                  {{> molecules-block-headline-byline }}
               {{/ gallerie-01 }}
            </div>
            {{> molecules-info-panel }}
         </div>
        <div class="row">
            <div class="gallery gallery-lightbox item-align-bottom margin-sm col-md-12" itemscope itemtype="http://schema.org/ImageGallery">
              {{# gallerie-01-items }}
                {{> organisms-article-gallery-lightbox }}
              {{/ gallerie-01-items }}
            </div>
        </div>
      </div>
   </article>

   <article class="slide-container">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4 col-md-offset-1">           
               {{# gallerie-02 }}
                  {{> molecules-block-headline-byline }}
               {{/ gallerie-02 }}
            </div>
            {{> molecules-info-panel }}
         </div>
      </div>
      <div class="gallery gallery-slide dragscroll">
         <div class="arrows">
            <a href="#" class="arrow arrow-left" id="arrow-left">Left</a>
            <a href="#" class="arrow arrow-right" id="arrow-right">Right</a>
         </div>       
         {{# gallerie-01-items }}
            {{> organisms-article-gallery-slide }}
         {{/ gallerie-01-items }}
      </div>
   </article>

   <article>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4 col-md-offset-1">
               {{# gallerie-03 }}
                  {{> molecules-block-headline-byline }}
               {{/ gallerie-03 }}
            </div>
            {{> molecules-info-panel }}
         </div>
      <div class="row">
        <div class="gallery gallery-lightbox item-align-top margin-lg col-md-12" itemscope itemtype="http://schema.org/ImageGallery">
         {{# gallerie-03-items }}
            {{> organisms-article-gallery-lightbox }}
         {{/ gallerie-03-items }}
        </div>
      </div>
    </div>
   </article>

   <article>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4 col-md-offset-1">
               {{# gallerie-01 }}
                  {{> molecules-block-headline-byline }}
               {{/ gallerie-01 }}
            </div>
            {{> molecules-info-panel }}
         </div>
          <div class="gallery gallery-small-to-big row">
            {{# gallerie-01-items }}
              {{> organisms-article-gallery-small-to-big }}
            {{/ gallerie-01-items }}
          </div>
      </div>
   </article>

   <article>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4 col-md-offset-1">
               {{# gallerie-04 }}
               {{> molecules-block-headline-byline }}
               {{/ gallerie-04 }}
            </div>
            {{> molecules-info-panel }}
         </div>
      <div class="row">
        <div class="gallery gallery-lightbox item-align-center margin-md col-md-12" itemscope itemtype="http://schema.org/ImageGallery">
           {{# gallerie-04-items }}
              {{> organisms-article-gallery-lightbox }}
           {{/ gallerie-04-items }}
        </div>
      </div>
   </article>

    <article>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4 col-md-offset-1">
               {{# gallerie-04 }}
               {{> molecules-block-headline-byline }}
               {{/ gallerie-04 }}
            </div>
            {{> molecules-info-panel }}
         </div>
      <div class="row">
        <div class="gallery gallery-lightbox item-align-center margin-xl col-md-12" itemscope itemtype="http://schema.org/ImageGallery">
           {{# gallerie-04-items }}
              {{> organisms-article-gallery-lightbox }}
           {{/ gallerie-04-items }}
        </div>
      </div>
   </article>

   {{! Structure of PhotoSwipe }}
   <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="pswp__bg"></div>
       <div class="pswp__scroll-wrap">
           <div class="pswp__container">
               <div class="pswp__item"></div>
               <div class="pswp__item"></div>
               <div class="pswp__item"></div>
           </div>
           <div class="pswp__ui pswp__ui--hidden">
               <div class="pswp__top-bar">
                   <div class="pswp__counter"></div>
                   <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                   {{! <button class="pswp__button pswp__button--share" title="Share"></button> }}
                   <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                   <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                   <div class="pswp__preloader">
                       <div class="pswp__preloader__icn">
                         <div class="pswp__preloader__cut">
                           <div class="pswp__preloader__donut"></div>
                         </div>
                       </div>
                   </div>
               </div>
               <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                   <div class="pswp__share-tooltip"></div> 
               </div>
               <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
               </button>
               <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
               </button>
               <div class="pswp__caption">
                   <div class="pswp__caption__center"></div>
               </div>
           </div>
       </div>
   </div>
</main>
{{> organisms-footer }}