{{> organisms-header }}
   <main>

      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4 col-md-offset-1">
                  {{> molecules-block-headline-title }}
            </div>
         </div>
      </div>

      <article>
         {{> molecules-media-block-right }}
      </article>

      <article>
         {{> molecules-media-block-left }}
      </article>

      <article>
         {{> molecules-media-block-right }}
      </article>

      <article>
         {{> molecules-media-block-left }}
      </article>

   </main>
{{> organisms-footer }}