{{> organisms-header }}
   <main>

      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4 col-md-offset-1">
                  {{> molecules-block-headline-title }}
            </div>
         </div>
      </div>

      <div class="container-fluid">
         <div class="row">

            <article class="block-text col-md-10 col-md-offset-1">
               {{> molecules-block-headline }}
            </article>

            <article class="block-text col-md-10 col-md-offset-1">
               {{> molecules-block-headline }}
            </article>

            <article class="block-text col-md-10 col-md-offset-1">
               {{> molecules-block-headline }}
            </article>

            <article class="block-text col-md-10 col-md-offset-1">
               {{> molecules-block-headline }}
            </article>

         </div>
      </div>

   </main>
{{> organisms-footer }}