{{> organisms-header }}
   <main>

      <div class="container-fluid">
         <div class="row sticky-container">

            <div class="col-md-4 col-md-offset-1 block-publications">
               <div class="sticky-column">
                  {{> molecules-block-headline-title }}
                  <article>
                     {{> molecules-block-thumb-headline }}
                  </article>
                  <article>
                     {{> molecules-block-thumb-headline }}
                  </article>
               </div>
            </div>

            <div class="col-md-4 col-md-offset-2 block-press">
               <div class="sticky-column">
                  {{> molecules-block-headline-title }}
                  <article>
                     {{> molecules-block-headline }}
                  </article>
                  <article>
                     {{> molecules-block-headline }}
                  </article>
                  <article>
                     {{> molecules-block-headline }}
                  </article>
                  <article>
                     {{> molecules-block-headline }}
                  </article>
                  <article>
                     {{> molecules-block-headline }}
                  </article>
                  <article>
                     {{> molecules-block-headline }}
                  </article>
                  <article>
                     {{> molecules-block-headline }}
                  </article>
                  <article>
                     {{> molecules-block-headline }}
                  </article>
                  <article>
                     {{> molecules-block-headline }}
                  </article>
                  <article>
                     {{> molecules-block-headline }}
                  </article>
                  <article>
                     {{> molecules-block-headline }}
                  </article>
               </div>
            </div>

         </div>
      </div>


   </main>
{{> organisms-footer }}