{{> organisms-header }}
   <main class="infos">
      <div class="container-fluid">
         <div class="row">

            <div class="col-md-4 col-md-offset-1">
               {{> molecules-block-headline-title }}
               <article class="contact">
                  {{> organisms-infos }}
               </article>
            </div>

            <div class="col-md-4 col-md-offset-2">
               {{> molecules-block-headline-title }}
               <article>
                  {{> atoms-landscape-4x3 }}
                  {{> organisms-cv }}
               </article>
            </div>

         </div>
      </div>
   </main>
{{> organisms-footer }}