<!-- Begin .header -->
<header class="header cf container-fluid" role="banner">
   <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
         {{> atoms-logo }}
      </div>
      <div class="col-sm-4 col-sm-offset-2">
         {{> molecules-primary-nav }}
      </div>
   </div>
</header>
<!-- End .header -->