<!-- Begin Footer -->
<footer class="footer container-fluid" role="contentinfo">
	<div class="row lc">
		<div class="col-sm-11 col-sm-offset-1">
      <p class="copyright">&copy; 2015  Ilit Azoulay. All rights reserved.</p>
      <p class="credit">Website design & development by <a href="http://www.variable.club" targer="_blank">Variable</a>.</p>
    </div>
	</div>
</footer>
<!-- End Footer -->

